
<div class="row">

    <div class="col-md-4">
      <%= link_to  "#my-modal", :class => "btn", "data-toggle" => "modal", type: "button", "data-target"=>"#tenbo", "data-whatever"=>"@mdo" do %>
        <%= image_tag 'tenbo_icon.png' %>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= link_to  "#my-modal", :class => "btn", "data-toggle" => "modal", type: "button", "data-target"=>"#girlsrock", "data-whatever"=>"@mdo" do %>
        <%= image_tag 'girls_rock.png' %>
      <% end %>
    </div>



    <div class="col-md-4">
      <%= link_to  "#my-modal", :class => "btn", "data-toggle" => "modal", type: "button", "data-target"=>"#crowdfunding", "data-whatever"=>"@mdo" do %>
        <%= image_tag 'crowdfunding.png' %>
      <% end %>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
      <%= link_to  "#my-modal", :class => "btn", "data-toggle" => "modal", type: "button", "data-target"=>"#disandat", "data-whatever"=>"@mdo" do %>
        <%= image_tag 'disandat.png' %>
      <% end %>
    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">

    </div>
</div>




<%= render 'shared/tenbomodal'%>
<%= render 'shared/crowdfundingmodal'%>
<%= render 'shared/girlsrockmodal'%>
<%= render 'shared/disandatmodal'%>


